[Desktop Entry]
Type=Application
Name=Cannon Scangear (MG7100 series)
Exec=/usr/bin/scangearmp
Icon=/usr/share/pixmaps/canon-pixma-mg7100-complete-scangear-icon.png
Categories=Graphics;2DGraphics;
Name[en_US]=canon-pixma-mg7100-complete-scangear
